.section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login_title{
    margin-top: 264px;
}
.login_form{
    width: 392px;
    margin: 0 auto;
    
}
#helper_text{
    margin-top: 1px;
    text-align: left;
    color: red;
}
.login_btn{
    background-color: #aca0eb;
    width: 355px;
    height: 33px;
    border: 0px;
    border-radius: 4px;
}
.login_btn::placeholder{
    text-align: center;
    color: white;
}
.login_btn_frame{
    margin: 0 auto;
}
.signin_btn{
    background-color: transparent;
    border: 0px;
}
